<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" /> 
  <title>Your Pantry</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Organize Your Pantry(somewhat)</h1>
  <% if (user) { %>
    <h2>Welcome to the pantry app, <%= user.username %>!</h2>
    <p>
            <% if (foods && foods.length > 0) { %>
                <ul>
                    <% foods.forEach(item => { %>
                        <li>
                            <%= item.food %>
                            <a href="/users/<%= user._id %>/foods/<%= item._id %>">View Details</a>
                            <a href="/users/<%= user._id %>/foods/<%= item._id %>/edit">Edit</a>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>Your pantry is empty!</p>
            <% } %>
            <a href="/users/<%= user._id %>/foods/new">Add New Item</a>
        </body>
        </html>
  <% } %>
</body>
</html>